<html>
<head>Список шин</head>
    <body>
    <title>Список шин</title>

<!--table - таблица, tr-строка, td-столбец, th-заголовок-->

                    <table> <table cellspacing=5><table border=5>

                        <tr>
                            <th> № п/п </th>
                            <th> Название </th>
                            <th> Цена </th>
                            <th> Сезонность </th>
                            <th> Шипы </th>
                            <th> УИН </th>
                        </tr>

                        {% for item in object_list %}

                        <tr>
                            <td>{{ forloop.counter }} </td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.cena }}</td>
                            <td>{{ item.sezonnost }}</td>
                            <td>{{ item.ship }}</td>
                            <td>{{ item.uin }}</td>

                            <td><a href="{% url 'sshdapp:instrp' uin=item.uin %}">Просмотреть</a></td>

                        </tr>

                        {% endfor %}

                        </table>





        <a href="{% url 'sshdapp:index' %}">На главную</a>

    </body>
</html>