{% extends "base.html" %}

{% block content %}

        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Ввод данных для поиска</h2>
                        <p>Для того чтобы поиск заработал ему нужно указать данные.</p>
                        <a class="text-decoration-none" href="#!">
                            <a href="{% url 'sshdapp:vvod' %}">Ввести</a>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Просмотр всех товарных позиций</h2>
                        <p>Здесь можно просмотреть данные по всем шинам.</p>
                        <a class="text-decoration-none" href="#!">
                            <a href="{% url 'sshdapp:ftbl' sez=' ' %}">Все</a>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                        <br>
                        <a class="text-decoration-none" href="#!">
                            <a href="{% url 'sshdapp:ftbl' sez='Летняя'  %}">Летние</a>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                        <br>
                        <a class="text-decoration-none" href="#!">
                            <a href="{% url 'sshdapp:ftbl' sez='Зимняя' %}">Зимние</a>
                            <i class="bi bi-arrow-right"></i>
                        </a>

                    </div>


                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Справочники</h2>
                        <p></p>
                        <a class="text-decoration-none" href="#!">
                            <a href="{% url 'sshdapp:spr_sez' %}">Сезонность</a>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                        <br>
                        <a class="text-decoration-none" href="#!">
                            <a href="{% url 'sshdapp:spr_razm' %}">Размеры</a>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>



                </div>
            </div>
        </section>

{% endblock %}
