<html>
<head>Данные о шине</head>
    <body>
    <title>Карточка товара</title>


    <!--
        <dl>
            <dt>{{ uin }}</dt>
            <dd>Наименование : {{ object.name }}</dd>
            <dd>Шипы : {{ object.ship }}</dd>
            <dd>Цена : {{ object.cena }}</dd>
            <dd>Остаток : {{ object.ostatok }}</dd>
        </dl>

        -->

        <table> <table cellspacing=5><table border=5>
        <tr>
            <td>Наименование</td>
            <td>{{ object.name  }}</td>
        </tr>
        <tr>
            <td>Размер</td>
            <td>{{ object.razmer  }}</td>
        </tr>
        <tr>
            <td>Сезонность</td>
            <td>{{ object.sezonnost }}</td>
        </tr>
        <tr>
            <td>Шипы</td>
            <td>{{ object.ship }}</td>
        </tr>
        <tr>
            <td>УИН</td>
            <td>{{ object.uin }}</td>
        </tr>
        <tr>
            <td>Цена</td>
            <td>{{ object.cena }}</td>
        </tr>
        <tr>
            <td>Остаток</td>
            <td>{{ object.ostatok }}</td>
        </tr>
        <tr>
            <td>Описание</td>
            <td>{{ object.descriptions }}</td>
        </tr>
        <tr>
            <td>Адрес картинки</td>
            <td>{{ object.kartss }}</td>
        </tr>
        <tr>
            <td>Картинка</td>
            <td>

            <img src="{{ object.kartss }}" alt="Картинка" width="300">



            </td>

        </tr>


        </table>

        <a href="{% url 'sshdapp:index' %}">На главную</a>

    </body>
</html>