{% extends "base.html" %}

{% block content %}

        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Инструкция и правила</h2>
                        <p>п.1. Программист всегда прав. </p>
                        <p>п.2. Если программист не прав, то см. п.1. </p>
                        <a class="text-decoration-none" href="#!">
                            <a href="{% url 'sshdapp:index' %}">На главную</a>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
