<html>
<head>Справочник "Сезонность"</head>
    <body>

    <title>>Справочник "Cезонность"</title>
        <<table> <table cellspacing=5><table border=5>
                <tr>
                    <th scope="col">№ п/п</th>>
                    <th scope="col">Наименование</th>>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                    <tr>
                        <td> {{ forloop.counter }} </td>
                        <td> {{ item.name }} </td>
                    </tr>
               {% endfor %}
            </tbody>>
        </table>>
        <a href="{% url 'sshdapp:index' %}">На главную</a>


    </body>
</html>